/* Variables  */

:root {
    --color1: #fffaf7;
    --color2: #fdf3ed;
}

/* General */

* {
    font-family: 'Roboto', sans-serif;
}

/* Background-Color */

section:nth-child(2) article:nth-child(even),
section:nth-child(3) {
    background-color: var(--color1);
}

section:nth-child(2) article:nth-child(odd),
section:nth-child(4) {
    background-color: var(--color2);
}

/* Header */

header nav.navbar {
    background-color: #eae2b7;
}

header img {
    width: 3em;
    height: 2em;
}

/* 1st Section  */

div.bg-image {
    background-image: linear-gradient(to right, rgba(212, 188, 52, 1), rgba(29, 29, 25, 0.5)), url("/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1,
h2,
strong {
    font-family: 'Amatic SC', cursive;
}

/* 3rd Section  */

section:nth-child(3) h2 {
    font-size: 2.5rem;
}

section:nth-child(3) h2 strong {
    color: #eb651c;
}

/* 4th Section */

section:nth-child(4) img {
    width: 100px;
    height: 100px;
}